:root{
    --mainColor:#ddc3dc;
    --navColor:#c9b6c9;
    --secondaryColor:#b8a0b8;

    --borderColor:rgb(255, 255, 255);

    --mainText: rgb(33, 1, 34);
    --secondaryText:rgb(34, 6, 35); 

    --themeDotBorder:#ffffff;
    --previewBg: rgba(234, 212, 231, 0.618);
    --shadowColor:rgba(29, 18, 28, 0.618);

    --d1:#766876;
    --d2:#928192;
    --d3:#bea7be;

    --btnColor: rgb(33, 1, 34);;
}